body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-graph {
	text-align: center;
}

.theme-graph2 {
  padding-top: 10px;
  padding-bottom: 10px;
}