body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.pool {
  padding-top: 20px;
}

.theme-graph {
	text-align: center;
}
.theme-graph2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
table { border-collapse:collapse; border-spacing: 0; width: 1020px; font-family: monospace; line-height:100%; font-size: 13px; margin-bottom: 20px;}
th { text-align: left; font-weight: bold; border-bottom: 2px solid; padding: 0px; padding-top: 5px; padding-bottom: 3px;}
th.aright { text-align: right; padding-right: 16px;}
th.aright2 { text-align: right; padding-right: 12px;}
td { padding: 0px; padding-right: 7px; padding-left: 2px; padding-top: 2px; padding-bottom: 2px; }
td.aright { text-align: right; padding-right: 16px;}
td.aright2 { text-align: right; padding-right: 12px;}
td.spc { padding: 0px; line-height: 5px; }
td.but { border-top: 2px solid; padding: 0px; padding-top: 2px; line-height: 7px; }