body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

h1 { display: inline-block; margin-bottom: 20px;}
h3 { display: inline-block; }

.pool {
  padding-top: 20px;
}

.theme-graph {
	text-align: center;
}

.theme-graph2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: 25px;
}

.row {
  font-size: 18px;
  margin-bottom: 8px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}